In [1]:
import pandas as pd
import numpy as np

In [2]:
dict = {'Nome': ['Anderson', 'Beatriz', 'Bruno', 'Cristiano', 'Daniel', 'Douglas', 'Elena', 'Fabricio', 'Gabriel', 'Janaina', 'Luiz', 'Marcos', 'Nadia', 'Oswaldo', 'Patricia' , 'Ricardo'],
       'Idade': [24, 36, 45, 56, 29, 20, 38, 47, 23, 56, 32, 22, 36, 68, 22, 38],
       'Cidade': ['Santos', 'Atibaia', 'Guarulhos', 'Atibaia', 'Santos', 'Guarulhos', 'Guarulhos', 'Atibaia', 'Guarulhos', 'Guarulhos', 'Atibaia', 'Guarulhos', 'Santos', 'Guarulhos', 'Guarulhos', 'Santos'],
       'Registro': [32123, 45828, 34985, 13457, 98439, 99348, 45019, 24894, 32948, 13480, 22884, 56821, 65938, 12956, 75439, 45392],
       'Departamento': ['RH', 'PD', 'RH', 'ADM', 'ADM', 'RH', 'ADM', 'PD', 'PD', 'ADM', 'PD', 'ADM', 'PD', 'RH', 'ADM', 'PD'],
       'Formação': ['Graduação', 'Mestrado', 'Graduação', 'Técnico', 'Graduação', 'Técnico', 'Graduação', 'Graduação', 'Técnico', 'Graduação', 'Graduação', 'Graduação', 'Graduação', 'Mestrado', 'Graduação', 'Mestrado']}

In [3]:
dafra = pd.DataFrame(dict)

In [4]:
dafra

         Nome  Idade     Cidade  Registro Departamento   Formação
0    Anderson     24     Santos     32123           RH  Graduação
1     Beatriz     36    Atibaia     45828           PD   Mestrado
2       Bruno     45  Guarulhos     34985           RH  Graduação
3   Cristiano     56    Atibaia     13457          ADM    Técnico
4      Daniel     29     Santos     98439          ADM  Graduação
5     Douglas     20  Guarulhos     99348           RH    Técnico
6       Elena     38  Guarulhos     45019          ADM  Graduação
7    Fabricio     47    Atibaia     24894           PD  Graduação
8     Gabriel     23  Guarulhos     32948           PD    Técnico
9     Janaina     56  Guarulhos     13480          ADM  Graduação
10       Luiz     32    Atibaia     22884           PD  Graduação
11     Marcos     22  Guarulhos     56821          ADM  Graduação
12      Nadia     36     Santos     65938           PD  Graduação
13    Oswaldo     68  Guarulhos     12956           RH   Mestrado
14   Patricia     22  Guarulhos     75439          ADM  Graduação
15    Ricardo     38     Santos     45392           PD   Mestrado

In [5]:
grupoCidade = dafra.groupby('Cidade')
print(grupoCidade)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x74f16b2508b0>

In [6]:
grupoFormacao = dafra.groupby('Formação')
grupoDepartamento = dafra.groupby('Departamento')
grupoCidadeeDepartamento = dafra.groupby(['Cidade', 'Departamento'])
grupoDepartamentoeFormacao = dafra.groupby(['Departamento', 'Formação'])

In [7]:
grupoCidade = dafra.groupby('Cidade')

dafra['difCidade'] = grupoCidade['Idade'].transform(lambda x: x - x.mean())

print(dafra[['Cidade', 'Idade', 'difCidade']])

       Cidade  Idade  difCidade
0      Santos     24      -7.75
1     Atibaia     36      -6.75
2   Guarulhos     45       8.25
3     Atibaia     56      13.25
4      Santos     29      -2.75
5   Guarulhos     20     -16.75
6   Guarulhos     38       1.25
7     Atibaia     47       4.25
8   Guarulhos     23     -13.75
9   Guarulhos     56      19.25
10    Atibaia     32     -10.75
11  Guarulhos     22     -14.75
12     Santos     36       4.25
13  Guarulhos     68      31.25
14  Guarulhos     22     -14.75
15     Santos     38       6.25

In [10]:
grupoDepartamento = dafra.groupby('Departamento')

dafra['difDepartamento'] = grupoDepartamento['Idade'].transform(lambda x: x - x.mean())

print(dafra[['Departamento', 'Idade', 'difDepartamento']])

   Departamento  Idade  difDepartamento
0            RH     24       -15.250000
1            PD     36         0.666667
2            RH     45         5.750000
3           ADM     56        18.833333
4           ADM     29        -8.166667
5            RH     20       -19.250000
6           ADM     38         0.833333
7            PD     47        11.666667
8            PD     23       -12.333333
9           ADM     56        18.833333
10           PD     32        -3.333333
11          ADM     22       -15.166667
12           PD     36         0.666667
13           RH     68        28.750000
14          ADM     22       -15.166667
15           PD     38         2.666667

In [11]:
grupoFormacao = dafra.groupby('Formação')

dafra['difFormacao'] = grupoFormacao['Idade'].transform(lambda x: x - x.mean())

print(dafra[['Formação', 'Idade', 'difFormacao']])

     Formação  Idade  difFormacao
0   Graduação     24   -11.100000
1    Mestrado     36   -11.333333
2   Graduação     45     9.900000
3     Técnico     56    23.000000
4   Graduação     29    -6.100000
5     Técnico     20   -13.000000
6   Graduação     38     2.900000
7   Graduação     47    11.900000
8     Técnico     23   -10.000000
9   Graduação     56    20.900000
10  Graduação     32    -3.100000
11  Graduação     22   -13.100000
12  Graduação     36     0.900000
13   Mestrado     68    20.666667
14  Graduação     22   -13.100000
15   Mestrado     38    -9.333333

In [12]:
grupoCidadeeDepartamento = dafra.groupby(['Cidade', 'Departamento'])

dafra['difCidadeeDepartamento'] = grupoCidadeeDepartamento['Idade'].transform(lambda x: x - x.mean())

print(dafra[['Cidade', 'Departamento', 'Idade', 'difCidadeeDepartamento']])

       Cidade Departamento  Idade  difCidadeeDepartamento
0      Santos           RH     24                0.000000
1     Atibaia           PD     36               -2.333333
2   Guarulhos           RH     45                0.666667
3     Atibaia          ADM     56                0.000000
4      Santos          ADM     29                0.000000
5   Guarulhos           RH     20              -24.333333
6   Guarulhos          ADM     38                3.500000
7     Atibaia           PD     47                8.666667
8   Guarulhos           PD     23                0.000000
9   Guarulhos          ADM     56               21.500000
10    Atibaia           PD     32               -6.333333
11  Guarulhos          ADM     22              -12.500000
12     Santos           PD     36               -1.000000
13  Guarulhos           RH     68               23.666667
14  Guarulhos          ADM     22              -12.500000
15     Santos           PD     38                1.000000

In [13]:
grupoDepartamentoeFormacao = dafra.groupby(['Departamento', 'Formação'])

dafra['difDepartamentoeFormacao'] = grupoDepartamentoeFormacao['Idade'].transform(lambda x: x - x.mean())

print(dafra[['Departamento', 'Formação', 'Idade', 'difDepartamentoeFormacao']])

   Departamento   Formação  Idade  difDepartamentoeFormacao
0            RH  Graduação     24                -10.500000
1            PD   Mestrado     36                 -1.000000
2            RH  Graduação     45                 10.500000
3           ADM    Técnico     56                  0.000000
4           ADM  Graduação     29                 -4.400000
5            RH    Técnico     20                  0.000000
6           ADM  Graduação     38                  4.600000
7            PD  Graduação     47                  8.666667
8            PD    Técnico     23                  0.000000
9           ADM  Graduação     56                 22.600000
10           PD  Graduação     32                 -6.333333
11          ADM  Graduação     22                -11.400000
12           PD  Graduação     36                 -2.333333
13           RH   Mestrado     68                  0.000000
14          ADM  Graduação     22                -11.400000
15           PD   Mestrado     38                  1.000000